
<% include ./partials/boilerplate.ejs %>



<% data.forEach((todo) => { %>
<div class="dataContainer">

  <h1 id="chore"><%= todo.chore %></h1>
  <br>
  <h2 id="description"><%= todo.description %></h2>
  <br>
  <h3 id="status"><%= todo.status %></h3>
  <br>

  <form method="get" action="/toDo/<%= todo.id%>/edit" >
  <button type="submit">Edit</button>
  </form>
  <br>

  <form method="POST" action="/toDo/<%= todo.id %>?_method=DELETE">
    <button type="submit">Delete</button>
  </form>

</div>




<% }) %>

<br>
<br>
<br>
<a href="/toDo/add"><button type="button" id="add">Add to List</button></a>
<br>
<br>


<% include ./partials/end.ejs %>
